*{
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    background: url('./img/bg.jpg') no-repeat center center / cover;
    width: 100%;
    height: 683px;
    position: relative;
}
.container .row nav ul{
    display: flex;
    list-style: none;
    position: absolute;
    top: auto;
    right: auto;
}
.container .row nav{
    background: url('./img/nav_bg.png');
    position: absolute; 
    top: auto;
    width: 100%;
}
.container .row nav ul li a{
    padding: 0 25px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #0f0f0f;
    
}
.container .active:active:after{
    content: "";
    display: block;
    max-width:100%;
    width: 87px;
    height: 6px;
    background: #e9696a;
    margin-top: 16px;
    margin-bottom: 87px;
}
.container ul li:hover:after{
    content: "";
    display: block;
    max-width:100%;
    width: 87px;
    height: 6px;
    background: #e9696a;
    margin-top: 16px;
    margin-bottom: 87px;
}
.container .row nav .logo{  
    margin-left: 0px;
}
.container .row .text{
    position: absolute;
    top: 210px;
    left: 232px;
}
.container .row .text h2{
    font-size: 32px;
    font-weight: 400;
}
.container .row .text h2 span{
    color: #f06d6e;
}
.container .row .text p{
    margin-top: 50px;
    width: 350px;
    line-height: 28px;
    color: #3d3d39;
    font-size: 14px;
}
.container .row .text button{
    margin-top: 50px;
    border: #fac81b solid 1px;
    padding: 19px 30px;
    background: #f6eee9;
    font-size: 14px;
    color: #3d3d39;
}
.container .row .text button:hover{
    background: #fac81b;
    color: #fff;
    cursor: pointer;
}
section{
    background: #e66768;
    width: 100%;
    height: 657px;
}
section .container .row .icon{
    display: flex;
    padding-top: 81px;
    width: 1230px;
    margin: auto;
}
section .container .row .check{
    color: #fac81b;
    text-align: center;
    padding-top: 80px;
    font-size: 35px;
    font-weight: 400;
}
section .container .row .box{
    max-width: 100%;
    margin: auto;
	 width: 100%;
}
section .container .row .box h2{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin: auto;
    margin-left: auto;
}
section .container .row .box .txt{
    color: #fac81b;
}
section .container .row .box p{
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
}
section .container .row .box button{
    color: #fff;
    border: #fac81b solid 1px;
    background: #e66768;
    padding: 13px 36px;
    color: #fff;
    margin-left: 15px;
    cursor: pointer;

}
main .box{
    width: 100%;
    height: 247px;
    border: 1px solid black;
    background: url('./img/photo1.jpg') no-repeat center  center / cover;
    color: white;
    display: flex;
}
main .box .btn button{
    background: #e6676700;
    border: none;
    margin-top: 30px;
    margin-right: 5px;
}
main .box .btn h2{
    padding-top: 90px;
    margin-right: 120px;
}
main .box .btn p{
    margin-right: 20px;
}
main .box .btn .but{
    margin-right: 220px;
}
main .box .btn{
    background: url('./img/bg\ box.png');
    width: 100%;
    height: 100%;
    opacity: 0;
}
main .box:hover .btn {
    opacity: 1;
}
section .container .row .box button:hover{
    background: #fac81b;
}
main{
    background: #f6f1ed;
    position: relative;
}
main .container .row .our{
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: #fac81b;
    position: absolute;
    top: 65px;
    left: 800px;
}
main .container .row .icon2{
    padding: 87px 0;
}
main .container .row .icon2 img{
    margin-left: 1700px;
    position: absolute;
    top: 60px;
}
.blog{
    max-width: 1140px;
    margin: auto;
}
.blog .container .row .post{
    color: #fac81b;
    font-size: 35px;
    font-weight: 400;
    padding: 87px 0;
    text-align: center;
}
.blog .container .row .blog1 h4{
    color: #e66768;
    padding: 29px 0 16px 0;
    font-size: 14px;
    font-weight: 400;
    margin-left: 130px;
    margin-top: 29px;
}
.blog .container .row .blog1 .ic{
    margin-left: -230px;
    margin-bottom: -40px;
}
.blog .container .row .blog1{
    padding-left: 19px;
    margin-bottom: 85px;
}
.blog .container .row .blog1 p{
    width: 355px;
    font-size: 22px;
    color: #646464;
    font-weight: 400;
    text-align: center;
}
.blog .container .row .icon3{
    display: flex;
}
.contact{
    margin-top: 142px;
    text-align: center;
    background: #e66768;
    height: 780px;
    width: 1062px;
    max-width: 1140px;
    margin: auto;
    line-height: 33px;
    position: absolute;
}

.page2 label input{
    padding-left: 32px;
    padding-top: 25px;
    padding-bottom: 24px; 
    font-size: 30px;
}
.page2 input{
    background-color: #e66768;
    color: #fff;
    border: #fff solid 1px;
    margin-left: 20px;
}
.page2 input ::placeholder{
    color: #fff;
}
.map .container{
    position: relative;
    
}
.contact h1{
    color: #fac81b;
    font-size: 35px;
    padding-bottom: 31px;
    padding-top: 67px;
}
.contact h3{
    color: #fff;
    font-size: 18px;
}
.contact h4{
    color: white;
    font-size: 20px;
}
.contact p{
    color: white;
    font-size: 18px;
    margin-bottom: 45px;
}
.contact .pen{
    text-align: center;
    margin: auto;
    padding-top: 28px;
}
.contact .pen  input{
    padding-right: 420px;
    padding-bottom: 200px;
    margin-left: 60px;   
}
.page2 label:first-child{
    padding-right: 30px;
}
.contact img{
    padding-top: 30px;
}
footer{
    margin: bottom;
    background: #3d3d39;
    color: #b1b1b1;
    width: 100%;
    height: 120px;
    text-align: center;
}
.boximg{
    text-align: center;
}
footer .fot ul{
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: auto;
    padding: 20px 0;
}
footer .fot ul li a{
    list-style: none;
    margin-left: 47px;
    text-decoration: none;
    color: #b1b1b1;
    margin: auto;
}
.fot ul li a:hover {
    color: white;
    cursor: pointer;
}
footer .fot p{
    font-size: 20px;
}
footer .fot .line {
    border: #646464 solid 1px;
    margin-bottom: 100px;
}
